.contact-info {
	margin-left: 15px;
}
li {
	list-style-type: none;
}

#profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width: 90%;
	height: auto;
  }

  h1 {
	margin-left: auto;
	margin-right: auto;
  }